@import ~assets/style/mixins

.unistar-button
    +display(flex)
    +justify-content(center)
    +align-items(center)

    min-width: 80px
    height: 28px
    font-size: 15px
    border-radius: 4px
    border: solid 1px transparent
    padding: 0 8px
    line-height: 1
    cursor: pointer
    outline: none

.unistar-button-early
    &.primary
        background-image: linear-gradient(to top, #f7f7f7 0%, #ffffff 100%)
        border-color: transparent
        box-shadow: 0px 2px 5px 0 rgba(6, 0, 0, 0.18)
        color: #585858

        &:hover
            background-image: none
            background-color: #52c8f9
            border-color: #35bff8
            box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.18)
            color: #ffffff

        &:active
            background-image: none
            background-color: #36a9fb
            border-color: #35bff8
            box-shadow: none
            color: #ffffff

        &[disabled]
            background-image: none
            background-color: transparent
            border-color: rgba(#7d7d7d, .4)
            box-shadow: none
            color: #b6b6b6
            cursor: default

    &.secondary
        background-color: #52d344
        border-color: #5ee030
        box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.39)
        color: #ffffff

        &:hover
            background-color: #4abb3e
            border-color: #4abb3e
            box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.39)
            color: #ffffff

        &:active
            background-color: #44a939
            border-color: #3e9a34
            box-shadow: none
            color: #ffffff

        &[disabled]
            background-color: transparent
            border-color: #52d344
            box-shadow: none
            color: #52d344
            cursor: default

    &.important
        background-color: #ff5243
        border-color: #fc5c4f
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.28)
        color: #ffffff

        &:hover
            background-color: #ff1400
            border-color: #fc5d4f
            box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.28)
            color: #ffffff

        &:active
            background-color: #e91a08
            border-color: #fb3624
            box-shadow: none
            color: #ffffff

        &[disabled]
            background-color: transparent
            border-color: #ff5243
            box-shadow: none
            color: #ff5243
            cursor: default

.unistar-button-night
    &.primary
        background-image: linear-gradient(to top, #f7f7f7 0%, #ffffff 100%)
        border-color: transparent
        box-shadow: 0px 2px 5px 0 rgba(6, 0, 0, 0.18)
        color: #585858

        &:hover
            background-image: none
            background-color: #52c8f9
            border-color: #35bff8
            box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.18)
            color: #ffffff

        &:active
            background-image: none
            background-color: #36a9fb
            border-color: #35bff8
            box-shadow: none
            color: #ffffff

        &[disabled]
            background-image: none
            background-color: transparent
            border-color: rgba(#7d7d7d, .4)
            box-shadow: none
            color: #999999
            cursor: default

    &.secondary
        background-color: #52d344
        border-color: #5ee030
        box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.39)
        color: #ffffff

        &:hover
            background-color: #4abb3e
            border-color: #4abb3e
            box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.39)
            color: #ffffff

        &:active
            background-color: #44a939
            border-color: #3e9a34
            box-shadow: none
            color: #ffffff

        &[disabled]
            background-color: transparent
            border-color: #52d344
            box-shadow: none
            color: #52d344
            cursor: default

    &.important
        background-color: #ff5243
        border-color: #fc5c4f
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.28)
        color: #ffffff

        &:hover
            background-color: #ff1400
            border-color: #fc5d4f
            box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.28)
            color: #ffffff

        &:active
            background-color: #e91a08
            border-color: #fb3624
            box-shadow: none
            color: #ffffff

        &[disabled]
            background-color: transparent
            border-color: #ff5243
            box-shadow: none
            color: #ff5243
            cursor: default